.nav-style{
    background-color: #8B0000;
    background-image: url(../../../assets/img/lines-bg.webp);
    background-position: center;
}

.nav-buttons{
    margin: 0 10px 0 10px;
    background-color: #00000000;
    --color: #9e9e9e;
    --color-selected: #ffffff;
}
